.salud-sticky-footer-bar {
	font-size: 0.75em;
	position: fixed; /* Set the navbar to fixed position */
	bottom: 0; /* Position the navbar at the top of the page */
	width: 900px;
	max-width: 100%;
	padding: 0.5em;
	background-color: #ddecee;
	text-align: center;
	z-index: 1; /* place sticky-footer in front of form inputs */
}