.salud-title-header {
	font-family: 'Poppins', sans-serif;
	font-style: italic;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto 3em 3em;
	grid-template-areas:
		"title		title			title"
		"about		logo		services"
		"experience	logo	contact";
	align-items: center;
	position: relative;
	bottom: 0;
	max-width: 900px;
	background-color: #153a5e;
	/* background-color: white; */
	z-index: 2; /* place the footer in front of the stick footer */
	padding: 2em;
	padding-bottom: 1em;
	justify-items: center;
	color: #fff;
}
.header-about-us {
	grid-area: about;
}
.header-title {
	grid-area: title;
	font-size: 2em;
	padding-bottom: 0.5em;
}
.header-experience {
	grid-area: experience;
}
.header-services {
	grid-area: services;
}
.header-contact-us {
	grid-area: contact;
}
