/* styles for the entire page */
body {
	margin: 0 auto; /* center align page content */
	max-width: 900px; /* fix page-size to 900px */
	min-width: 700px; /* smallest page can be (without visual errors) is 700px */
	font-size: clamp(1em, calc(1.8em - 1.20vw), 1.8em); /* scale font-size up with smaller page */
	box-shadow: 0 0 14px 3px #666; /* add box-shadow to left and right */
}

html {
 background-image: url('backgrounds/funky-lines.png');
}

html::before {
	content: "";
	background-image: url('backgrounds/blue-gradient.png');
	background-size: cover;
	position: fixed;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	opacity: 0.5;
	z-index: -1; /* place behind other elements */
}

a {
	color: inherit!important; /* links should inherit their color */
	font-variant: all-petite-caps; /* links should use capital letters */
}

/* style font-awesome duo-tone icons */
.salud-icon-item-icon {
	--fa-primary-color: #6dc0ec;
	--fa-secondary-color: #bac2c8;
}
