.salud-footer {
	display: grid;
	grid-template-columns: 1fr 2fr 8fr 1fr;
	grid-template-rows: auto;
	grid-template-areas:
		". logo 			 	 title ."
		". address 		 address ."
		". copywrite copywrite .";
	row-gap: 0.5em;
	position: relative;
	bottom: 0;
	max-width: 900px;
	background-color: #153a5e;
	z-index: 2; /* place the footer in front of the stick footer */
	padding: 1em 1em 0 1em;
	color: #fff;
}

.salud-footer-title {
	grid-area: title;
	font-size: 2em;
}

.salud-footer-address {
	grid-area: address;
}

.salud-footer-copywrite {
	grid-area: copywrite;
}