.salud-sticky-nav-bar {
	font-size: 0.75em;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
	position: fixed; /* Set the navbar to fixed position */
	top: 0; /* Position the navbar at the top of the page */
	width: 1000px;
	max-width: 100%;
	padding: 0.5em;
	background-color: #153a5e;
	color: #FFF;
	z-index: 1; /* place sticky-nav in front of form inputs */
}

.nav-link {
	padding: 0.2em;
}

.salud-logo {
	width: 2em;
	height: 2em;
}
