.salud-header {
	margin-top: 0.5em;
	padding-top: 2em;
	text-align: center;
	font-variant: petite-caps;
}

@media screen and (max-width: 900px) {
	.salud-header {
		margin-top: 1em;
		padding-top: 3em;
	}
}
